{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "main/css/about.css" %}>
    <title>О нас</title>
</head>
<body>
    <div class="o-nas">
        <div class="top">
          <p><a href="{% url "home" %}" class="logo">ГастроТур</a></p>
          <div class="top-menu">
            <a href="{% url 'tours'%}" class="tury">Туры</a>
            <a href="{% url "aboutus" %}" class="tury">О нас</a>
            <a href="{% url "cart" %}" class="tury">Корзина</a>
          </div>
        </div>
        <p class="title">О нас</p>
        <p class="about-text">
          Добро пожаловать в BiteMap – ваш путеводитель по миру кулинарных открытий! Мы – энтузиасты вкусной еды и путешествий, стремящиеся делиться с вами самыми запоминающимися гастрономическими впечатлениями.<br />
          Ваше путешествие с BiteMap будет полно новых вкусов и ароматов, позволяющих глубже понять культуру и традиции различных уголков мира, а также насладиться творениями величайших шеф-поваров.
        </p>
        
        <p class="title">Наши офисы</p>
        <p class="about-text">
          Мы гордимся своим присутствием в разных частях света. Наши офисы расположены в крупнейших гастрономических столицах, где мы всегда рады встретить вас и обсудить ваш следующий кулинарный маршрут.
        </p>
        
        <p class="title">Контакты</p>
        <p class="about-text">
          Если у вас есть вопросы или вы хотите забронировать тур, наша команда поддержки всегда на связи. Свяжитесь с нами по электронной почте, телефону или через социальные сети, и мы поможем вам организовать ваше идеальное гастрономическое путешествие.
        </p>
        
        <p class="title">Награды</p>
        <p class="about-text">
          BiteMap неоднократно удостаивался наград за выдающийся вклад в развитие гастрономического туризма. Наши туры отмечены множеством престижных премий, что подтверждает нашу приверженность качеству и оригинальности предлагаемых вам путешествий.
        </p>
        
        
      </div>
</body>
</html>